@media screen and (min-width: 1200px) {
    .max-width {
        max-width: 1100px;
    }

    .projects-max-width {
        max-width: 800px;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .intro {
        padding-right: 50px;
    }

    .intro h1 {
        font-size: 3.2em;
    }

    .profile {
        padding-left: 30px;
    }

    .projects .max-width {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .motions-projects .max-width {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .projects .max-width h2, .divider-light {
        grid-column: 1/4;
        text-align: center;
    }

    .divider-light {
        width: 30%;
        margin-right: auto;
        margin-left: auto;
    }

    .divider-full {
        display: none;
    }

    .cta {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    .description {
        padding-bottom: 0;
        padding-right: 30px;
    }

    .links {
        border-top: 0px;
        border-left: 2px solid #2d2e25;
        padding-left: 30px;
        padding-top: 0;
    }
}