@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


p,
a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Menu Styles */

.logo {
    width: 50px;
}

header {
    position: sticky;
    padding: 15px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu ul li {
    padding-right: 15px;
    text-decoration: none;
}

.menu a {
    position: relative;
    text-decoration: none;
    color: #2d2e25;
}

.menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #2d2e25;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.menu a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Body Styles */

.hero {
    padding: 60px 0;
}

.hero h1 {
    margin-bottom: 0;
}

.intro {
    text-align: center;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}

.profile-img {
    width: 100%;
    border-radius: 5px;
}

.projects, .motions-projects {
    background-color: #2d2e25;
    color: #fff;
    padding: 60px 0;
}

.projects img {
    width: 100%;
    border-radius: 5px;
}

.single-project img {
    margin-top: 1em;
    transform: scale(1);
    transition: .3s;
}

.single-project img:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: .3s;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.text-link {
    color: #2d2e25;
}

.text-link:hover {
    color: #817E9F;
}

/* Motion Graphics Styles */

.single-animation {
    padding-top: 15px;
}

.vid-project {
    text-align: center;
    padding-top: 10px;
}

.vid-project a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #2d2e25;
    color: white;
    border-radius: 5px;
    border: 3px solid #ecebe4;
    transition: .3s;
}

.vid-project a:hover {
    border: 3px solid #ecebe4;
    background-color: #ecebe4;
    color: #2d2e25;
    transition: .3s;
}

/* CTA Styles */
.cta {
    padding: 60px 0;
    text-align: center;
}

.description {
    padding-bottom: 25px;
}

.links {
    border-top: 2px solid #2d2e25;
    padding-top: 25px;
}

/* Case Studies */
.case-study, .project-hero {
    padding: 60px 0;
}

.project-hero img, .case-study img {
    width: 100%;
    border-radius: 5px;
}

.case-study h2 {
    padding-top: 60px;
}

.visit {
    text-align: center;
    padding: 15px 0;
}

.visit a {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #2d2e25;
    color: white;
    border-radius: 5px;
    border: 3px solid #2d2e25;
    transition: .3s;
}

.visit a:hover {
    border: 3px solid #2d2e25;
    background-color: #ecebe4;
    color: #2d2e25;
    transition: .3s;
}

.links a {
    color: #2d2e25;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}