.logo {
    width: 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu ul li {
    padding-right: 15px;
    text-decoration: none;
}

