
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


p, a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Menu Styles */

.logo {
    width: 100px;
}

header {
    background-color: #fff;
    padding: 15px 0;
}

.menu-full {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu ul li {
    padding-right: 15px;
    text-decoration: none;
}

/* Body Styles */

.hero {
    padding: 60px 0;
}

.hero h1 {
    margin-bottom: 0;
}

.profile-img {
    width: 100%;
    border-radius: 5px;
}

.projects {
    background-color:  #2d2e25;
    color: #fff;
    padding: 60px 0;
}

.projects img {
    width: 100%;
    border-radius: 5px;
}

.single-project {
    margin-top: 1em;
}