/* Box Shadows */

.box-shadow-2 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.box-shadow-3 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

body {
    background-color: #ecebe4;
}

.max-width {
    max-width: 380px;
    margin: 0 auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-10 {
    margin-top: 10px;
}

.divider {
    margin-top: .5em;
    max-width: 30%;
    height: 2px;
    background-color: #2d2e25;
}

.divider-light {
    margin-top: .5em;
    max-width: 30%;
    height: 2px;
    background-color: #ecebe4;
}